.width-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;

  @include large-breakpoint {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.center {
    justify-content: center;
  }
  &.end {
    justify-content: flex-end;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  // justify-content: center;
  gap: 1rem;

  &.column {
    flex-direction: column;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.center {
    justify-content: center;
  }
  &.end {
    justify-content: flex-end;
  }
}